<ion-menu content-id="content">  
  <ion-header>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <ion-icon name="person" class="text-white mr-3" style="font-size: 50px;"></ion-icon>
      <div class="d-flex align-items-center flex-column">
        <p class="text-white mb-0">
          {{userProfile.name}} {{userProfile.lastname}}
        </p>
        <p class="text-white mb-0">
          {{userProfile.email}}
        </p>
      </div>
    </div>
  </ion-header>
  <ion-content>

    <ion-list class="mt-5">
      <ion-menu-toggle auto-hide="false">
        <ion-item button>
          <ion-icon slot="start" name='home' class="text-white"></ion-icon>
          <ion-label class="text-white">
            Inicio
          </ion-label>
        </ion-item>
        <ion-item button>
          <ion-icon slot="start" name="flower" class="text-white"></ion-icon>
          <ion-label class="text-white">
            Jardín
          </ion-label>
        </ion-item>
        <ion-item button>
          <ion-icon slot="start" name='book' class="text-white"></ion-icon>
          <ion-label class="text-white">
            Tareas
          </ion-label>
        </ion-item>
        <ion-item button>
          <ion-icon slot="start" name='trophy' class="text-white"></ion-icon>
          <ion-label class="text-white">
            Logros
          </ion-label>
        </ion-item>
        <ion-item button>
          <ion-icon slot="start" name='people' class="text-white"></ion-icon>
          <ion-label class="text-white">
            Amigos
          </ion-label>
        </ion-item>
        <ion-item button>
          <ion-icon slot="start" name='settings' class="text-white"></ion-icon>
          <ion-label class="text-white">
            Configuraciones
          </ion-label>
        </ion-item>
        <ion-item button (click)="logout()">
          <ion-icon slot="start" name='close' class="text-white"></ion-icon>
          <ion-label class="text-white">
            Cerrar sesion
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/credits.png" alt="" class="mb-3 mt-3" style="width: 150px;">
    </div>
  </ion-footer>
</ion-menu>

<ion-content id="content">
