<ion-menu content-id="content">  
  <ion-content>

    <ion-list class="mt-5">
      <ion-menu-toggle auto-hide="false">
        <ion-item button>
          <ion-icon slot="start" name='home' class="text-white"></ion-icon>
          <ion-label class="text-white">
            Inicio
          </ion-label>
        </ion-item>
        <ion-item button (click)="logout()">
          <ion-icon slot="start" name='close-outline' class="text-white"></ion-icon>
          <ion-label class="text-white">
            Cerrar sesion
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/credits.png" alt="" class="mb-3 mt-3" style="width: 150px;">
    </div>
  </ion-footer>
</ion-menu>

<ion-content id="content">
