<ion-app>
  <ion-content content="content">
    <div id="welcome" [ngClass]="style">
      <div class="welcome-display">
        <div>
          <img alt="App ID Logo" class="logo-icon" src="https://appid-management.eu-gb.bluemix.net/swagger-ui/images/app_id_icon.svg">
          <p>
            Welcome to the<br>
            IBM Cloud App ID SPA SDK<br>
            Sample App
          </p>
        </div>
        <ion-button id="login" [ngClass]='buttonDisplay' (click)="onLoginClick()">Login</ion-button>
        <div [ngClass]="errorStyle" id="error">{{errorMessage}}</div>
      </div>
    </div>
  </ion-content>
</ion-app>