<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="container h-100 d-flex align-items-center justify-content-center">
      <div>
        <form [formGroup]="userForm" (ngSubmit)="register()">
          <ion-item class="bg-transparent">
            <ion-label class="text-white" position="floating">Email</ion-label>
            <ion-input type="email" class="text-white" formControlName="email" class="text-white"></ion-input>
          </ion-item>
          <ion-item class="bg-transparent">
            <ion-label class="text-white" position="floating">Password</ion-label>
            <ion-input type="password" class="text-white" formControlName="password"></ion-input>
          </ion-item >
          <ion-button type="submit" class="mt-5 button-1">Registrarme</ion-button>
        </form>
        <div class="mt-5 d-flex justify-content-center">
          <a class="text-white" [routerLink]="['/login']">
            ¿Tienes cuenta? Haz inicio de sesion aqui.
          </a>
        </div>
        <div *ngIf="registerError">
          {{registerError}}
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-app>