<ion-header>
  <ion-toolbar class="bg-transparent">
    <ion-title>Datos personales</ion-title >
  </ion-toolbar>
</ion-header>


  <ion-content>
    <div class="container h-100 d-flex align-items-center justify-content-center">
      <div>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <ion-item class="bg-transparent">
            <ion-label class="text-white" position="floating">Nombre</ion-label>
            <ion-input type="text" class="text-white" formControlName="first_name" class="text-white"></ion-input>
          </ion-item>
          <ion-item class="bg-transparent">
            <ion-label class="text-white" position="floating">Apellido</ion-label>
            <ion-input type="text" class="text-white" formControlName="lastname"></ion-input>
          </ion-item >
          <ion-item class="bg-transparent">
            <ion-label class="text-white" position="floating">Fecha de nacimiento</ion-label>
            <ion-datetime type="text" class="text-white" formControlName="birthdate"></ion-datetime>
          </ion-item >
          <ion-item class="bg-transparent">
            <ion-label class="text-white" position="floating">Género</ion-label>
            <ion-select placeholder="Selecionar uno" class="text-white">
              <ion-select-option value="f">Femenino</ion-select-option>
              <ion-select-option value="m">Masculino</ion-select-option>
              <ion-select-option value="O">Otro</ion-select-option>
            </ion-select>
          </ion-item >
          <ion-button type="submit" class="mt-5 button-1">Continuar</ion-button>
        </form>
        <div *ngIf="registerError">
          {{registerError}}
        </div>
      </div>
    </div>
    
  </ion-content>

